.calculation {
  background-color: #808080;
  height: 5vh;
}

.App {
  display: flex;
  justify-content: center;
  text-align: center;
  float: right;
}

table {
  background-color: gray;
  border-spacing: 0.1px;
  table-layout: fixed;
  width: 200px;
}

table td {
  border-left: 1px solid gray;
}

.gray_cell {
  background-color: #e0e0e0;
  border-bottom: 1px solid gray;
}

.align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orange_cell {
  background-color: #f5913e;
  border-bottom: 1px solid gray;
}

button {
  width: 100%;
  border: none;
  background-color: #e0e0e0;
}

.no_border {
  border: none;
}

.center {
  display: flex;
  justify-content: center;
  width: 100vh;
  margin-right: 15vw;
}
